*{
    padding: 0;
    margin: 0;
    background: #210E09;

}

.header{
    width: 1302px;
    height: 51px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.header img{
    width: 157.89px;
    height: 40px;
    top: 6px;
    gap: 0px;
    opacity: 0px;
}

.header ul li {
    text-decoration: none;
    padding-left: 15px;
    padding-top: 15px;
    display: inline-block;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #fff;
}

.header .btn{
    width: 188px;
    height:51px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px 0px 0px 0px;
    border: 2px solid #D5621D;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
/* end of header */
/* slider from here  */

.body_slider{
    display: flex;
    margin: auto;
    width: 1296px;
    height: 542px;
    padding-left: 20px;
    padding-top: 20px;
}

.body_slider .body_slider_half{
    width: 856px;
    height: 540px;
    background: url("Rectangle\ 30.png");
    border: 5px solid yellow;
}
.body_slider_half .btn_main{
    width: 154px;
    height: 44px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 301px;
    margin-left: 60px;
}
.body_slider_half .slid_main  {
    margin-left: 60px;
    color: #fff;
    background: none !important;
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}

.body_slider_second{
    width: 416px;
    height: 542;
}

.body_slider_second .plugin_url a{
    border: 1px solid;
    padding: 12px 10px 7px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.body_slider_third{
  width:244px ;
  height: 38px;
  margin:100px auto;
}

.body_slider_third .plugin_url a{
  border-radius: 5px;
  left: 189px;
  padding: 10px 20px 7px 20px;
  text-decoration: none;
  gap: 10px;
  color: #fff;
  
}

.inside{
  color: #fff;
  margin-top:25px auto;
}

/* end of header */
/* slider from here  */


.body_slider_second .plugin_url a{
    border: 1px solid;
    padding: 12px 10px 7px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

/*  */
*{
    background-color: #210E09;
    padding: 0%;
    margin: 0%;
}
.mini_cont{
    display: flex;
    width: 1076px;
    height: 612px;
    margin-top: 80px;
    margin-left: 110px;
    
  }
  
  .t_pos{
    display: flex;
    width: 486px;
    height: 111px;
    padding: 10px;
    margin: 15px;
    
  }
  
  .t_pos_image{
    width: 110px;
    height: 110px;
  }
  
  .t_pos_text{
    width: 351px;
    height: 111px;
    margin: 10px;
  }
  .t_pos_text ul li{
  text-decoration: none!important;
  color: #fff;
  }
  ul li{
    line-height: 25px;
    text-decoration: none;
  }
  
  ul .li_one{
    font-family: Gotham Pro;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #fff;
  }
  
  .t_price{
    color: #D5621D!important;
    text-decoration: none;
  }
  
  .t_btn{
    display: absolute;
    width: Hug (84px)px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #D5621D;  
    background: none;
    color: #fff;
    height: 38px!important;
    width: 84px;
  
  }

.end{
  width: 171px;
  height: 57px;
  top: 1722px;
  left: 875px;
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
  gap: 10px;
  margin:50px;
}
  
.events{
  position: absolute;
  left: 20px;
  margin: 200px;
}

.gitara{
  position: absolute;
  margin-top: -210px;
  width: 416px;
  height: 560px;
  top: 1929px;
  left: 600px;
  border-radius: 5px;
}

.people{
  position: absolute;
  left: 1150px;
  margin-top: 195px;

}

.ban{
  color: #fff;
  position: absolute;
  margin-top: 50px;
  left: 50px;
}

.guys{
  color: #fff;
  position: absolute;
  margin-top: 50px;
  left: 50px;

}

.slova1{
  position: absolute;
  width: 376px;
  height: 301px;
  top: 60px;
  right: -100px;
  line-height: 25px;
}

.slova2{
  position: absolute;
  width: 376px;
  margin-top: 25px;
  right: -100px;
  line-height: 25px;
}

.sear1{
  position: absolute;
  width: 188px;
  margin-top: 310px;
  border-radius: 5px 0px 0px 0px;
  border: 2px solid #D5621D;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  height: 51px;
}

.sear2{
  position: absolute;
  width: 188px;
  margin-top: 40px;
  border-radius: 5px 0px 0px 0px;
  border: 2px solid #D5621D;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  height: 51px;
  right: 65px;
}

.party{
  position: absolute;
  margin-top:900px;
  left: 700px;
}

.trax{
position: absolute;
margin-top: 975px;
left: 725px;
color: #fff;
}
